<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backButtonHandler()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <h2>{{ getMuscleGroupSelected$ | async }}</h2>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="getLevels$ | async as levels">

  <div class="description">
    <ion-label>
      Scegli il livello più adatto a te
    </ion-label>
  </div>

  <ion-item *ngFor="let level of levels | keyvalue" (click)="navToCardTrainer(level.key)">

    <nf-level-number *ngIf="level.key === 'livello1'" numberLevel="1" backgroundColor="limegreen">
    </nf-level-number>

    <nf-level-number *ngIf="level.key === 'livello2'" numberLevel="2" backgroundColor="orange">
    </nf-level-number>

    <nf-level-number *ngIf="level.key === 'livello3'" numberLevel="3" backgroundColor="red">
    </nf-level-number>

    <ion-label *ngIf="level.key === 'livello1'">
      <h2>Livello 1</h2>
      <p>Intensità: leggera</p>
    </ion-label>

    <ion-label *ngIf="level.key === 'livello2'">
      <h2>Livello 2</h2>
      <p>Intensità: media</p>
    </ion-label>

    <ion-label *ngIf="level.key === 'livello3'">
      <h2>Livello 3</h2>
      <p>Intensità: alta</p>
    </ion-label>

    <ion-icon name="chevron-forward-outline"></ion-icon>

  </ion-item>

</ion-content>