<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons>
      <ion-icon name="chevron-back-outline" (click)="backButtonHandler()"></ion-icon>
    </ion-buttons>
    <ion-title>{{getLevelSelected$ | async}}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <div>
  <nf-info-card></nf-info-card>
</div> -->

<ion-content *ngIf="getExercieses$ | async as exercieses">

  <!-- <nf-info-card></nf-info-card> -->

  <div>
    <ion-label>
      Come eseguire la scheda
    </ion-label>

  </div>



  <!-- <ion-label>
    Esercizi
  </ion-label> -->

  <nf-exercise *ngFor="let exerciese of exercieses[0]" [urlVideo]="exerciese.urlVideo" [name]="exerciese.nome"
    [reps]="exerciese.ripetizioni">
  </nf-exercise>

</ion-content>