<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons>
      <ion-icon name="chevron-back-outline" (click)="backButtonHandler()"></ion-icon>
    </ion-buttons>
    <ion-title>{{getLevelSelected$ | async}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="getExercieses$ | async as exercieses">

  <!-- Scheda -->
  <div class="container-scheda">

    <ion-buttons (click)="openModal = !openModal">
      Info
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-buttons>

    <div class="title">
      <h2>
        Scheda
      </h2>
    </div>

    <ul>
      <li *ngFor="let exerciese of exercieses[0]"> {{exerciese.nome}} - {{exerciese.ripetizioni}}</li>
    </ul>
  </div>

  <!-- Modale Info -->
  <nf-info-card *ngIf="openModal" ($closeModal)="openModal = $event"></nf-info-card>

  <!-- Video esercizi -->
  <h2>
    Esercizi
  </h2>

  <nf-exercise *ngFor="let exerciese of exercieses[0]" [urlVideo]="exerciese.urlVideo" [name]="exerciese.nome"
    [reps]="exerciese.ripetizioni">
  </nf-exercise>

</ion-content>

