ion-content {
    --background: black;
    --padding-end: 0;
    --padding-start: 0;
}

img {
    height: 15vh;
    width: auto;
}

div {
    //font-family: 'Lato' !important;
    text-align: center;
}

.info {
    padding: 0 16px;
    color: white;
    font-size: 2.5vh;
}
