<nf-header title="Profilo"></nf-header>

<ion-content mode="ios" fullscreen class="ion-padding" *ngIf="getProfile$ | async as profile">
  <div>
    <img src="./assets/img/logo-colorato.JPG">
  </div>   

  <nf-select-component
    title="Genere"
    [gender]="profile.gender"
    [valueSelected]="profile.gender"
    [valuesOption]="[ 'Uomo', 'Donna' ]"
    ($changeEvent)="changeGender($event)"
  >
  </nf-select-component>


  <nf-select-component
    title="Obiettivo"
    [gender]="profile.gender"
    [valueSelected]="profile.goalTraining"
    [valuesOption]="
      profile.gender === 'uomo'
        ? [ 'Massa muscolare', 'Perdere peso' ]
        : [ 'Tonificarsi', 'Perdere peso' ]
    "
    ($changeEvent)="profile.goalTraining !== $event ? changeGoalTraining($event) : null"
  >
  </nf-select-component>
  
  <nf-contacts-component></nf-contacts-component>

  
</ion-content>


