ion-content {
    --background: #212121;
    --padding-end: 0;
    --padding-start: 0;
}

img {
    height: 15vh;
    width: auto;
}

div {
    //font-family: 'Lato' !important;
    text-align: center;
}
