
<nf-header title="Suggerimenti"></nf-header>

<ion-content>

  <div style="margin-top: 3vh;">
    <ion-label>
      Come impostare il tuo allenamento
    </ion-label>
    <br>
    <br>
    <span>
      <strong class="sub-title">ATTENZIONE:</strong> <br>
       Questi sono solo degli esempi di come impostare il tuo allenamento settimanale. 
       Per ulteriori consigli o ricevere degli allenamenti personalizzati
       andare nella sezione profilo e contattare il
      <strong class="description-strong">PT Norman Forestieri su instagram</strong>.
    </span>
  </div>

  <!-- <div class="container">
    asdppasdfkdfsdkfsdk

    <div>
      <ion-icon 
        name="chevron-down-outline"
      >
    </ion-icon>
    </div>

  </div> -->

  <nf-info-item
    title="Dilettante"
    subTitle="Allenarsi in mono frequenza 2 volte alla settimana"
    [numberDays]=2
  >
  </nf-info-item>

  <nf-info-item
    title="Intermedio"
    subTitle="Allenarsi in multi frequenza 4 volte alla settimana"
    [numberDays]=4
  >
  </nf-info-item>

  <nf-info-item
    title="Avanzato"
    subTitle="Allenarsi in multi frequenza 6 volte alla settimana"
    [numberDays]=6
  >
  </nf-info-item>

</ion-content>

