
.container {
  height: 100%;
  width: 100%;
  background: black;
}

ion-toolbar {
  --background: #f55f20;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    text-align: center;
    padding: 0 4vh;
    font-size: 3vh;
    color: white;
    font-weight: 600;
  }
}

.logo-half-page {
  background-image: url('../../../../../assets/img/logo.png');
  background-position: 66%;
  background-size: cover;
  height: 100%;
  width: 50%;
}

.container-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-25%, -50%);
  width: 100%;

  ion-card   { 
    height: 10vh;
    margin: 3vh 0 3vh 2.5vh;
    font-family: "Lato";
    width: 70%;
    background: #f55f20;
    border-radius: 0;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      color: white;
      font-weight: 400;
      margin: 0;
      font-size: 3vh;
      text-align: center;
    }
}

}