<ion-header class="ion-no-border" mode="ios">
    <ion-toolbar>
        <div>SELEZIONA IL TUO ALLENAMENTO</div>
    </ion-toolbar>
</ion-header>

<div class="container" *ngIf="getCardsTrainer$ | async as cards">

    <div class="logo-half-page"></div>

    <div class="container-card">

        <ion-card #card *ngFor="let card of cards; first as isFirst" button="true" mode="ios"
            (click)="navToLevel(card.titolo, card.imgUrl)">
            <h2>{{card.titolo}}</h2>
        </ion-card>

    </div>

</div>

<router-outlet></router-outlet>