<ion-content>

    <ion-grid>

        <ion-row style="text-align: center; margin-top: 8vh;">
      
            <p #p>
                Segui questi semplici passaggi per ottenere il piano di fitness più adatatto a te.
            </p>
            <h1 #h1>
                Donna o Uomo ?
            </h1>

        </ion-row>

        <ion-row style="text-align: center; display: flex; margin-top: 5vh; align-items: center;">

            <ion-col #woman>
                <nf-button-select #woman
                    text="Donna"
                    color="#ff99cc"
                    [selected]="getDonnaSelected$ | async"
                    ($selectEvent)="womanSelected()"
                ></nf-button-select>
            </ion-col>
            <ion-col #man>
                <nf-button-select #man
                    text="Uomo"
                    color="#45b6fe"
                    [selected]="getUomoSelected$ | async"
                    ($selectEvent)="manSelected()"
                ></nf-button-select>
            </ion-col>

        </ion-row>

        <ion-row>

            <!-- <ion-col #donna class="col-woman">
                <nf-gender-select
                    title="Donna"
                    colorTitle="#ff78cb"
                    [selected]="getDonnaSelected$ | async"
                    ($selectEvent)="womanSelected()"
                >
                </nf-gender-select>
            </ion-col> -->

            <ion-col #manImg class="col-man">
                <nf-gender-select
                    img="andrea-uomo.png"
                    [selected]="getUomoSelected$ | async"
                    ($selectEvent)="manSelected()"
                >
                </nf-gender-select>
            </ion-col>

        </ion-row>

    </ion-grid>

</ion-content>

<nf-footer text="1/2" [disable]="footerDisable$ | async" ($goNext)="goToStep2()" ($goBack)="goInitialStep()">
</nf-footer>