<ion-content>

    <ion-grid>

        <ion-row class="row-header">
      
            <p #p>
                Segui questi semplici passaggi per ottenere il piano di fitness più adatatto a te.
            </p>
            <h1 #h1>
                Donna o Uomo ?
            </h1>

        </ion-row>

        <ion-row class="row-buttons">

            <div #woman style="margin-right: 2vh">
                <nf-button-select #woman
                    text="Donna"
                    color="#ff99cc"
                    [selected]="getDonnaSelected$ | async"
                    ($selectEvent)="womanSelected()"
                ></nf-button-select>
            </div>
            <div #man>
                <nf-button-select #man
                    text="Uomo"
                    color="#45b6fe"
                    [selected]="getUomoSelected$ | async"
                    ($selectEvent)="manSelected()"
                ></nf-button-select>
            </div>

        </ion-row>

        <ion-row class="row-imgs">

            <div #womanImg class="col-woman">
                <nf-gender-select
                    img="donna.png"
                    [selected]="getDonnaSelected$ | async"
                    ($selectEvent)="womanSelected()"
                >
                </nf-gender-select>
            </div> 

            <div #manImg class="col-man">
                <nf-gender-select
                    img="uomo.png"
                    [selected]="getUomoSelected$ | async"
                    ($selectEvent)="manSelected()"
                >
                </nf-gender-select>
            </div>

        </ion-row>

    </ion-grid>

</ion-content>

<nf-footer text="1/2" [disable]="footerDisable$ | async" ($goNext)="goToStep2()" ($goBack)="goInitialStep()">
</nf-footer>