<div class="container-circles">
  <div 
    class="cirlce third-circle" 
    [style.border]="'1px solid '+ backgroundColor +''"
    [style.background]="backgroundColor"
    ></div>   
  <div 
    class="cirlce second-circle"
    [style.border]="'1px solid '+ backgroundColor +''"
    [style.background]="backgroundColor"
    >
  </div>
  <div 
    class="cirlce first-circle"
    [style.border]="'1px solid '+ backgroundColor +''"
    [style.background]="backgroundColor"
  >
    {{numberLevel}}
  </div>   
</div>

