h1 {
    font-size: 3vh;
    font-weight: 600;
    margin: 8vh auto 0;    
}

p {    
    font-size: 2vh;
    margin-bottom: 0;
    margin-top: 4vh;
}


.col-woman {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .col-man {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }