<ion-content>
    <ion-grid>

        <ion-row style="text-align: center; margin-top: 8vh;">
            <h1 #h1>
                Seleziona il tuo obiettivo
            </h1>
            <p #p>
                Questa informazione ci permette di capire quali risultati vuoi ottenere
            </p>
        </ion-row>

        <ion-row #row1 style="margin: 8vh 3vh 0;"> 

            <div style="width: 100%;" *ngIf="getGenderProfile$ | async as gender">
                <nf-card 
                    *ngIf="gender === 'uomo'; else elseBlock1"
                    img="massa-muscolare.jpg"
                    title="Costruire massa muscolare"
                    colorTitle="#45b6fe"
                    [selected]="getMuscleMassSelected$ | async"
                    ($selectEvent)="muscleMassSelected()"
                >
                </nf-card>
            </div>

            <ng-template #elseBlock1>
                <nf-card 
                    img="tonificarsi.jpg"
                    title="Tonificarsi"
                    colorTitle="#ff78cb"
                    [selected]="getToningSelected$ | async"
                    ($selectEvent)="toningSelected()"
                >
                </nf-card>
            </ng-template>
     
        </ion-row>

        <ion-row #row2 style="margin: 4vh 3vh 0;">

            <div style="width: 100%;" *ngIf="getGenderProfile$ | async as gender">
                <nf-card 
                    *ngIf="gender === 'uomo'; else elseBlock2"
                    img="perdita-peso.jpg"
                    title="Perdere peso"
                    colorTitle="#45b6fe"
                    [selected]="getLoseWeightSelected$ | async"
                    ($selectEvent)="loseWeightSelected()"
                >
                </nf-card>
            </div>

            <ng-template #elseBlock2>
                <nf-card 
                    img="perdita-peso.jpg"
                    title="Perdere peso"
                    colorTitle="#ff78cb"
                    [selected]="getLoseWeightSelected$ | async"
                    ($selectEvent)="loseWeightSelected()"
                >
                </nf-card>
            </ng-template>

        </ion-row>

        <div *ngIf="getGenderProfile$ | async as gender">

            <div class="col-woman" *ngIf="gender === 'donna'; else imgBlock">
                <nf-gender-select 
                    img="donna.png"
                    [selected]="true"
                >
                </nf-gender-select>
            </div> 
    
            <ng-template #imgBlock>
                <div class="col-man">
                    <nf-gender-select
                        img="uomo.png"
                        [selected]="true"
                    >
                    </nf-gender-select>
                </div>
            </ng-template>
    
        </div>

    </ion-grid>



</ion-content>

<nf-footer 
    text="2/2" 
    [disable]="footerDisable$ | async" 
    ($goNext)="goToTrainers()" 
    ($goBack)="goToStep1()">
</nf-footer>


