ion-card {
  --background: #424242;
  margin-left: 0;
  margin-right: 0;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

ion-icon {
  font-size: 7vh;
  position: absolute;
}

ion-card-content {
  text-align: center;
  h2 {
    font-size: 2.5vh;
    font-weight: 600;
    color: #f5f5f5;
  }
  p {
    color: #bdbdbd;
    font-size: 2vh;
  }
}
