ion-button {
    --background: trasparent;
    --background-activated: null;
    color: black;
    border: 2px solid darkgray;
    border-radius: 0;
    height: 6vh;
    width: 18vh;
    font-family: 'Lato';
    font-weight: 600;
  }

  i {
    font-size:3vh; 
    margin-right: 1.5vh;
  }